* text eol=crlf
*.exe binary
*.dll binary
*.zip binary
*.obj binary
*.res binary
*.lib binary
*.dlg binary
*.mnu binary
*.ttf binary
*.ico binary
*.bmp binary
*.png binary
*.jpg binary
*.pdf binary
*.chm binary
*.gif binary
*.vcx binary
*.vct binary
*.pjx binary
*.pjt binary
*.scx binary
*.sct binary
*.dbf binary
*.dbt binary
*.cdx binary
*.ndx binary
*.ntx binary
*.idx binary
*.fpt binary
*.dbc binary
*.dcx binary
*.dct binary
*.fxp binary
*.frt binary
*.frx binary
